.cardContext{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, 1fr); 
}

.profile {
    margin-top: 20px; /* Ajusta la cantidad de espacio entre el navbar y el perfil de usuario */
    padding: 20px;
    border: 1px solid #ccc;
    background-color: #fff;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  }